<div class="loginMainSec">
    <div class="loginLeftSec">
      <img src="assets/images/mainLogo.png">
    </div>
    <div class="loginRightSec">
        <img class="bgLogo" src="assets/images/mainLogo.png">
        <div class="centeredBlock">
            <img src="assets/images/loginLogo.png">
            <h3>Log In</h3>
            <div class="ErrorBlock">
                Invalid email or password<img src="assets/images/errorClose.svg">
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password">
                </mat-form-field>
            </div>
            <a href="#">Forgot Password?</a>
            <div class="large">
                <input class="submitBtn" type="submit" value="LOG IN" />
                <mat-spinner></mat-spinner>
            </div>
            <p>New User? <a href="#">SIGN UP</a></p>
        </div>
    </div>
</div>