<!-- <div class="loginMainSec">
  <div class="loginLeftSec">
    <img src="assets/images/mainLogo.png">
  </div>
  <div class="loginRightSec">
    <div class="centeredBlock">
      <img src="assets/images/loginLogo.png">
      <h3>Log In</h3>
      <h3>Success!</h3>
      <h3>Forgot Password</h3>
      <h3>Set Password</h3>
      <div class="LoginDesp">
        We just need your registered Email Id to send you password reset instructions.
      </div>
      <div class="LoginDesp p-25">
        Your password has been successfully reset
      </div>
      <div class="LoginDesp">
        We have sent an email to email-id with the instructions to reset your account password. Please verify
      </div>
      <div class="LoginDesp">
        Please enter your new password to Login
      </div>
      <div class="ErrorBlock">
        Invalid email or password<img src="assets/images/errorClose.svg">
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput type="password">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password">
        </mat-form-field>
      </div>
      <a href="#">Forgot Password?</a>
      <div class="large">
        <input class="submitBtn" type="submit" value="LOG IN" />
        <mat-spinner></mat-spinner>
      </div>
      <p>
        New User? <a href="#">SIGN UP</a>
      </p>
      <div class="small">
        <input type="submit" class="submitBtn" value="LOG IN" />
        <mat-spinner></mat-spinner>
      </div>
      <div class="small">
        <input type="submit" class="submitBtn" value="OK" />
        <mat-spinner></mat-spinner>
      </div>
      <div class="medium">
        <input type="submit" class="submitBtn" value="CONFIRM" />
        <mat-spinner></mat-spinner>
      </div>
      <div class="floatSubmit">
        <p>CANCEL</p>
        <div class="small">
          <input type="submit" class="submitBtn" value="SEND" />
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </div>
  </div>
</div> -->

<app-login></app-login>
<!-- <app-forget-password></app-forget-password> -->
<!-- <app-set-password></app-set-password> -->
<!-- <app-success-password></app-success-password> -->
<!-- <app-success-send></app-success-send> -->
