<div class="loginMainSec">
    <div class="loginLeftSec">
      <img src="assets/images/mainLogo.png">
    </div>
    <div class="loginRightSec">
        <img class="bgLogo" src="assets/images/mainLogo.png">
        <div class="centeredBlock">
            <img src="assets/images/loginLogo.png">
            <h3>Success!</h3>
            <div class="LoginDesp p-25">
                Your password has been successfully reset
            </div>
            <div class="small">
                <input type="submit" class="submitBtn" value="LOG IN" />
                <mat-spinner></mat-spinner>
            </div>
        </div>
    </div>
</div>